html {
  font-size: 16;
  font-family: 'Muli', sans-serif;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  padding-left: 1.5rem;
}

.header .logo #colmar {
  font-weight: bold;
  margin-right: 0;
}

.header .logo #academy {
  color: #7b7d7d;
}

.header nav {
  padding-right: 1.5rem;
}

.header ul li {
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: white;
  transition: background-color 0.3s;
}

.header ul li:hover{
  background-color: #F2F3F4;
}

/* media query rules for header */
@media screen and (min-width: 680px){
  .header .lite {
    display: none;
  }
}

@media screen and (max-width: 680px){
  .header .full {
    display: none;
  }

  .header .lite {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

/* main body */
.main {
  position: relative;
  top: 4rem;
  left: 0;
  width: 100%;
}

.left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right {
  width: 40%;
}

.img-container {
  overflow: hidden;
}

.img-container img, .img-container video {
  max-width: 100%;
  height: auto;
  display: block;
} /* applies for all images */

.left .img-container {
  width: 100%;
} /* applies for all images on left side*/

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: hsl(184, 5%, 20%);
  padding-right: 1rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: hsl(184, 5%, 20%);
  padding-right: 1rem;
}

/* title */

.title {
  background-color: #d5dbdb;
  display: flex;
}

.title .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title .right h1, .title .right h4 {
  padding-bottom: 1.5rem;
}

.title .right h5 {
  width: 40%;
  padding: 0.8rem 0;
  background-color: hsl(184, 5%, 20%);
  color: white;
  text-align: center;
  border-radius: 3px;
  transition: background-color .15s;
}

.title .right h5:hover{
  background-color: hsl(184, 5%, 47%);
}
@media screen and (max-width: 900px) and (min-width: 680px){
  .title h1 {
    font-size: 2rem;
  }

  .title .right h5 {
    padding: 0.6rem;
  }
}

@media screen and (max-width: 680px){
  .title {
    display: flex;
    flex-direction: column;
  }

  .title .left {
    width: 100%;
    padding: 0;
  }

  .title .right {
    width: 100%;
  }

  .title .right h1 {
    padding: 0;
    margin: 1.5rem;
  }
  .title .right h4 {
    padding: 0;
    margin: 1rem 1.5rem;
  }

  .title .right h5 {
    width: 85%;
    margin: 1rem 1.5rem;
    margin-bottom: 2rem;
  }
}

/* info */
.info {
  display: flex;
}
/* left part of info */

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(184, 5%, 20%);
  padding: 2rem 0;
} /* applies to all h2 */

.info .left p {
  margin-bottom: 2rem;
}

.info .left p.caption {
  font-family: "Arial", sans-serif;
  font-size: 0.8rem;
}

/* right part of info, some apply to items in exhibit */

.info .right, .exhibit .right {
  display: flex;
  flex-direction: column;
}

.right .item {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #d5dbdb;
  transition: background-color 0.2s;
}

.right .item:hover {
  background-color: #d5dbdb;
}

.right .item .img-container {
  width: 35%;
}

.right .item .img-container img {
  margin: 1rem;
}

.right .item .content {
  margin: 0 1rem;
  width: 65%;
}

.right .item p {
  margin: 0.5rem 0;
}

.right .item a {
  color: blue;
}

@media screen and (max-width: 900px) and (min-width: 680px){
  .right p {
    font-size: 0.8rem;
  }

  .right h4 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 680px){
  .info .left {
    padding: 0;
    display: none;
  }

  .info .right {
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  .right .item {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  .right .item .img-container {
    width: auto;
  }

  .right .item .full {
    display: none;
  }

  .right .item .img-container img{
    margin: 0;
  }

  .right .item .content {
    margin: 1.5rem;
    width: auto;
  }
}

@media screen and (min-width: 480px){
  .info .right .item .lite {
    display: none;
  }
}
/* catalog */

.catalog {
  width: 100%;
  background-color: #d5dbdb;
}

.catalog h2, .exhibit h2 {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;
}

.courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.row {
  margin: 0 4rem 2rem 4rem;
  display: flex;
  justify-content: space-between;
}

.row .item {
  display: inline-block;
  width: 33%;
  background-color: white;
  margin: 0 1rem;
}

.row .item .image-container{
  width: 100%;
}

.row .item .content {
  padding: 1.5rem;
}

.row .item h4 {
  padding-bottom: 1rem;
}
.row .item p {
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 680px) and (max-width: 780px){
  .row .item{
    min-width: 25%;
  }

  .row .item .img-container img{
    min-height: 100px;
  }

  .row .item p {
    font-size: 0.8rem;
  }

  .row .item h4 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 680px){
  .catalog {
    background-color: white;
  }

  .courses.full {
    display: none
  }

  .courses.lite {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d5dbdb;
  }

  .courses.lite h4{
    background-color: #d5dbdb;
    padding: 1rem;
    width: 80%;
    margin-bottom: 0.5rem;
    border-radius: 3px;
  }
}

@media screen and (min-width: 680px){
  .courses.lite {
    display: none;
  }
}

/* exhibit */

.exhibit {
  width: 100%;
}

.exhibit-body {
  display: flex;
}

.exhibit .left {
  padding-top: 0;
}

.exhibit .left .content {
  padding-top: 1.5rem;
}

.exhibit .right .content p, .footer p {
  padding: .5rem 0;
  font-family: "Arial", sans-serif;
}

@media screen and (max-width: 680px){
  .exhibit .right {
    display: none;
  }

  .exhibit .left {
    width: 100%;
    padding: 0;
  }

  .exhibit .content {
    width: auto;
    padding: 1.5rem;
  }
}
/* footer */

.footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid #d5dbdb;
}
